<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Team & Contact</h3>
          <ul>
            <li><a href="contact.html">Contact the Crew</a></li>
            <li><a href="track-locations.html">Track Locations</a></li>
            <li><a href="sponsorship.html">Sponsorship Inquiries</a></li>
            <li><a href="press.html">Press & Media</a></li>
          </ul>
        </div>

        <!-- Column 2 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Regulations & Policies</h3>
          <ul>
            <li><a href="safety-standards.html">Safety Standards</a></li>
            <li><a href="competition-rules.html">Competition Rules</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-of-use.html">Terms of Use</a></li>
          </ul>
        </div>

        <!-- Column 3 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Merch & Gear</h3>
          <ul>
            <li><a href="shop-apparel.html">Racing Apparel</a></li>
            <li><a href="shop-accessories.html">Accessories</a></li>
            <li><a href="shop-collectibles.html">Collectibles</a></li>
            <li><a href="gift-cards.html">Gift Cards</a></li>
          </ul>
        </div>

        <!-- Column 4 -->
        <div class="col col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <h3>Motorsport Resources</h3>
          <ul>
            <li><a href="driver-guides.html">Driver Guides</a></li>
            <li><a href="event-calendar.html">Event Calendar</a></li>
            <li><a href="training-programs.html">Training Programs</a></li>
            <li><a href="community-forum.html">Community Forum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->

  <!-- Social media icons (preserved as requested) -->
  <!--
  Example:
  <div class="footer-social">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  -->
</footer>
